.flyout {
  background-image: url("./CJN.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%, 100%;
}

.logoDiv {
  width: 100%;
  display: block;
  margin-top: 5%;
  align-items: center;
  text-align: center;
}

.mainDiv {
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.logoDiv > .logo {
  width: 120px;
  height: 250px;
  align-content: center;
  margin-left: auto;
  margin-right:auto;
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin-bottom: 0px;
}

.descriptionDiv {
  width: auto;
  height:auto;
  margin-right: auto;
  margin-left: auto;
  width: 75%;
  height: 40%;
  display: block;
  opacity: 0.5;
  background-color: black;
}

.textDiv {
  font-family: 'PalanquinDark-Regular';
  font-size: 30px;
  text-align: center;
  color: #eeeeee;
}

/* palanquin-dark-regular - latin */
@font-face {
  font-family: 'Palanquin Dark';
  font-style: normal;
  font-weight: 400;
  src: local('Palanquin Dark Regular'), local('PalanquinDark-Regular'),
       url('./assets/fonts/palanquin-dark-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/palanquin-dark-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
